/* slidePanelSytles.css
 * Author: Michael Friedman
 *
 * Our custom styles applied to the slide panel
 */

/* Applied once panel has loaded */
.slidePanel {
  padding: 20px;
  color: #000000;
  background-color: #FFFFFF;
}
