/* slidePanelSytles.css
 * Author: Michael Friedman
 *
 * Our custom styles applied to the side panel
 */

@media (min-width: 992px) {
  #side-panel {
    margin-top: -19px;
  }
}

@media (max-width: 991px) {
  #side-panel {
    margin-top: -39px;
  }
}

#side-panel {
  height: auto;
  color: #000000;
  background-color: #FFFFFF;
  z-index: 99;
  display: none;
}

#building-stats-container {
  overflow: auto;
  height: 100%;
}

table#building-stats {
  width: 100%;
}

a#close-side-panel {
  float: right;
  text-decoration: none;
  color: #888888;
}

a#close-side-panel:hover {
  color: #111111;
}
