
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <title>Get-A-Room</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Slide panel styles -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/spinner.css' %}">
    <link rel="stylesheet" href="{% static 'css/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'css/slidePanelStyles.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'js/places.js' %}"> </script>
    <script src="{% static 'js/L.Control.Locate.js' %}"> </script>
    <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>


  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">get a room</a>
        </div>
      </div>
    </nav>

    <div class="container">

    </div> <!-- /container -->
    <div id="map"></div>
    <div class="map-container"></div>
    <script src="{% static 'js/mapbuilder.js' %}"></script>

    <!-- JavaScript libraries
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>

    <!-- Bootstrap libraries -->
    <script src="../../static/js/bootstrap.min.js"></script>

    <!-- Slide panel libraries -->
    <script src="{% static 'js/prism.js' %}"></script>
    <script src="{% static 'js/jquery-slidePanel.min.js' %}"></script>
    <script src="{% static 'js/slidePanel.js' %}"></script>
  </body>
</html>
